<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        <ul class="navigation-left">
            <li class="nav-item @Html.IsSelected(controller: "Home")">
                <a class="nav-item-hold" asp-controller="Home" asp-action="Index">
                    <i class="nav-icon i-Bar-Chart"></i><span class="nav-text">Главная</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item @Html.IsSelected(controller: "Admin")">
                <a class="nav-item-hold" asp-controller="Admin" asp-action="Index">
                    <i class="nav-icon i-Administrator"></i><span class="nav-text">Сотрудники</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item @Html.IsSelected(controller: "Location")">
                <a class="nav-item-hold" asp-controller="Location" asp-action="Index">
                    <i class="nav-icon i-Shop"></i><span class="nav-text">Локации</span>
                </a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item @Html.IsSelected(controller: "Event")">
                <a class="nav-item-hold" asp-controller="Event" asp-action="Index">
                    <i class="nav-icon i-Ticket"></i><span class="nav-text">События</span>
                </a>
                <div class="triangle"></div>
            </li>
        </ul>
    </div>
</div>